
//Modal
$modal-success-color: #3d973d;
$modal-danger-color: #a43558;
$modal-background-color: rgba(0, 0, 0, 0.5);
$modal-z-index: 99;

//AddColorForm
$label-font-size: 2rem;
$input-font-size: 1rem;


$timing-function: 0.2s ease-in-out;