@import "src/styles/scss/mixins";

.color-item{
  width: 100%;

  &:not(:last-child){
    margin-bottom: 1rem;
  }

  &__swatch{
    @include flex{
      justify-content: space-between;
    }
    align-items: center;
    padding: 0.7rem;


  }
  &__name{
    font-weight: 600;
    color: #eceaea;
    font-size: 1rem;
  }
  &__remove-button{
    background-color: transparent;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #f6f5f5;
  }
}