@mixin mob{
  @media (max-width: 300px){
    @content
  }
}
@mixin sm{
  @media (max-width: 480px){
    @content
  }
}
@mixin md{
  @media (max-width: 768px){
    @content
  }
}
@mixin lg{
  @media (max-width: 976px){
    @content
  }
}@mixin xl{
  @media (max-width: 1440px){
    @content
  }
}

@mixin flex{
  display: flex;
  align-items: center;
  @content
}
@mixin full-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@mixin center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}